.resumo-emocional {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    text-align: center;
}

.resumo-emocional div {
    flex: 1;

    background-color: rgba(255,255,255,0.05);

    padding: 20px;

    border-radius: 10px;
}

.resumo-emocional h3 {
    font-size: 16px;
    margin-bottom: 10px;
}

.resumo-emocional p {
    font-size: 28px;
    font-weight: bold;
}

.grafico-area {
    margin-top: 20px;
}

canvas {
    width: 100% !important;
    max-height: 350px;
}